/*********************************************
products__section1 - head
**********************************************/
.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  max-width: 800px;
  margin: auto;
}

.products__head1 {
  text-align: center;
  max-width: 800px;
  margin: auto;
  padding: 1.25rem;
}

.products__section1 {
  text-align: center;
  padding: 1.25rem;

  a {
    // text-decoration: none;
    color: black;
  }
}

/*********************************************
products__section2 - 3 column grid
**********************************************/
.products__section2 {
  /* use for outher margins or full element color */
  text-align: center;
  padding-top: 60px;

  .wrap {
    max-width: 800px;
    margin: auto;
    padding: 1.25rem;
  }

  .columns {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }

  .group img {
    width: 100%;
  }

  .square {
    padding: 0;
  }
}

/* Medium devices (tablets, 900px and down) */
@media screen and (max-width: 800px) {
  .index__section5 {
    .columns {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 20px;
    }
  }
}

/* Medium devices (tablets, 900px and down) */
@media screen and (max-width: 600px) {
  .index__section5 {
    .columns {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 20px;
    }
  }
}
