.header {
  background-color: #6989a2;
}

.container {
  width: 800px;
  max-width: 100%;
  padding-top: 60px;
  padding-bottom: 40px;
  margin: 0 auto;
}

//Menu ul
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
  font-size: 14px;

  a {
    text-decoration: none;
  }

  a:hover {
    color: #d7f0ff;
  }

  .active-nav-item {
    color: #d7f0ff;
    text-decoration: underline;
  }
}

.logo {
  padding: 1rem;
  font-family: 'lobster', sans-serif;
  font-size: 80px;
  line-height: 0;
  text-decoration: none;
}

@media (max-width: 960px) {
  .menu {
    justify-content: space-around;
    flex-wrap: wrap;
    font-size: 11px;
  }

  .logo {
    padding: .5rem;
    font-size: 40px;
  }
}
